spring:
  application:
    name: flick-api
  profiles:
    active: local
  web:
    resources:
      add-mappings: false
  config:
    import: client-dauth.yml, db-core.yml

server:
  tomcat:
    max-connections: 20000
    threads:
      max: 600
      min-spare: 100

---
spring:
  config:
    activate:
      on-profile: local
  data:
    redis:
      host: localhost
      port: 6379

jwt:
  secret: flick-v2-local-secret-key-must-be-at-least-32-bytes-long
  access-expiration: 1800000
  refresh-expiration: 604800000

---
spring:
  config:
    activate:
      on-profile: dev | staging | live
  docker:
    compose:
      enabled: false
